@import "../../../bootstrap/_variables.scss";
@import "../../../bootstrap/mixins";

.ActivityLogCard {
  min-height: 383px;
  background-color: $card-bg-;
  width: 100%;
  max-width: 320px;
  margin: auto;
  border-radius: 12px;
  padding: 20px 0;
  .imageBox {
    width: 100%;
    max-width: 268px;
    max-height: 288px;
    margin: auto;
    img {
      max-width: 100%;
      width: 100%;
    }
  }
  .contentBox {
    max-width: 268px;
    max-height: 288px;
    margin: auto;
    margin-top: 16px;
    h3 {
      //styleName: Body Text/Body 1 - 20px;
      font-family: $font-family;
      font-size: 20px;
      font-weight: 500;
      line-height: 23px;
      text-transform: uppercase;
      letter-spacing: 0px;
      text-align: center;
      color: #555770;
    }
  }
}
