@import "../../../bootstrap/_variables.scss";
@import "../../../bootstrap/mixins";

.BlogSide {
  padding: 60px 0;
  background-color: $card-bg-;
  position: relative;
  max-width: 1340px;
  overflow: hidden;
  border-radius: 35px;
  margin: 50px auto !important;
  h2 {
    @include heading2;
    text-align: center;
    margin-bottom: 50px;
  }
}
